<h1 class="hidden">YouTube Client App</h1>
<!-- <app-header class="header" (newItemEvent)="addItem($event)" (newButtonEvent)="switchFiltersView($event)"></app-header> -->
<app-header class="header"></app-header>

<!-- <app-filtering-criteria *ngIf="filtersOpened" (newClickEvent)="applySorting($event)" (newSearchEvent)="applySearch($event)"></app-filtering-criteria> -->
<!-- <app-search-results *ngIf="searchValue" [sortingData]="sortingData" [searchFilterValue]="searchFilterValue"></app-search-results> -->

<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>
