<div class="header-wrapper">
  <div class="container">
    <div class="header-content small-container">
      <div class="logo-bg" (click)="redirectToMainPage()">
        <mat-icon class="play-icon" color="primary">play_arrow</mat-icon>
      </div>
      <form class="search-form" (submit)="submitSearchRequest(searchValue)">
        <mat-form-field class="form-field form-full-width">
          <input class="search-input" [(ngModel)]="searchValue" matInput
            placeholder="What do you want to find out?" name="searchRequest">
        </mat-form-field>
        <button class="search-btn" mat-flat-button type="submit" color="primary" (click)="getSearchResults(searchValue)">search</button>
      </form>
      <button class="filters-btn" mat-flat-button type="submit" color="primary" (click)="openFilters()">
        <mat-icon class="tune-icon" color="white">tune</mat-icon>
      </button>
    </div>
    <app-login></app-login>
  </div>
</div>

