<mat-card appColorfulBorder [date]="date" class="card">
  <img mat-card-image src="{{ searchItem?.snippet?.thumbnails?.medium?.url }}" width="{{ imageWidth }}" alt="{{ searchItem?.snippet?.title }}">
  <mat-card-content class="card-content">
    <ul class="card-details">
      <li class="card-item">
        <mat-icon class="card-icon">visibility</mat-icon>
        <span>{{ searchItem?.statistics?.viewCount}}</span>
      </li>
      <li class="card-item">
        <mat-icon class="card-icon">favorite</mat-icon>
        <span>{{ searchItem?.statistics?.likeCount}}</span>
      </li>
      <li class="card-item">
        <mat-icon class="card-icon">mood_bad</mat-icon>
        <span>{{ searchItem?.statistics?.dislikeCount}}</span>
      </li>
      <li class="card-item">
        <mat-icon class="card-icon">comment</mat-icon>
        <span>{{ searchItem?.statistics?.commentCount}}</span>
      </li>
    </ul>
  </mat-card-content>
  <mat-card-title>{{ searchItem?.snippet?.title }} </mat-card-title>
  <mat-card-actions>
    <button class="more-btn" mat-raised-button color="primary">more...
    </button>
  </mat-card-actions>
</mat-card>
