<div class="login-wrapper">
  <div class="logged-in-wrapper" *ngIf="(loggedIn$ | async)">
    <span  class="user-name" (click)="openAdminPage()">{{ this.loginService.loginValue }}</span>
    <div class="logout-icon-wrapper" (click)="logout()">
      <mat-icon class="logout-icon" color="primary">logout</mat-icon>
    </div>
  </div>
  <div class="logged-out-wrapper" *ngIf="(loggedIn$ | async) === false" (click)="openLoginPage()">
    <span class="login-text">Log In</span>
    <div class="logout-icon-wrapper">
      <mat-icon class="logout-icon" color="primary">login</mat-icon>
    </div>
  </div>
</div>
