<div class="login-wrapper">
  <div class="logged-in-wrapper" *ngIf="(loggedIn$ | async)">
    <button class="user-name" mat-button [matMenuTriggerFor]="menu">{{ loginService.loginValue }}</button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="['/admin']" mat-menu-item>Create New Card</button>
      <button [routerLink]="['/admin/cards']" mat-menu-item>Show Custom Cards</button>
    </mat-menu>
    <div class="logout-icon-wrapper" (click)="logout()">
      <mat-icon class="logout-icon" color="primary">logout</mat-icon>
    </div>
  </div>
  <div class="logged-out-wrapper" *ngIf="(loggedIn$ | async) === false" (click)="openLoginPage()">
    <span class="login-text">Log In</span>
    <div class="logout-icon-wrapper">
      <mat-icon class="logout-icon" color="primary">login</mat-icon>
    </div>
  </div>
</div>
