@import '../../../../mixin.scss';

.login-wrapper {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--dark-gray);
}

.logged-in-wrapper,
.logged-out-wrapper {
  @include flex-center;
  gap: 8px;
}

.user-name:hover,
.logged-out-wrapper:hover,
.logout-icon-wrapper:hover {
  cursor: pointer;
  color: var(--blue);
}

.login-icon-wrapper {
  @include flex-center;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: var(--white);
  border-radius: 50%;
}
