<mat-card appColorfulBorder [date]="searchItem.snippet.publishedAt" class="card main-page-card">
  <img mat-card-image src="{{ searchItem.snippet.thumbnails.medium.url }}" width="223" alt="{{ searchItem.snippet.title }}">
  <mat-card-content class="card-content">
    <app-card-details-list [statistics]="searchItem.statistics"></app-card-details-list>
  </mat-card-content>
  <mat-card-title>{{ searchItem.snippet.title }} </mat-card-title>
  <mat-card-actions>
    <button class="more-btn" mat-raised-button color="primary" (click)="openDetailsPage(searchItem.id)">more...</button>
  </mat-card-actions>
</mat-card>
