.header-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: #e5e5e5;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px auto;
  // width: 572px;
}

.logo-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 37px;
  color: black;
  // background-color: #3f51b5;
  background-color: yellow;
  border-radius: 8px;
}

.play-icon {
  color: red;
  outline-color: red;
}

.search-form {
  display: flex;
  width: 476px;
  height: 24px;
}

mat-form-field.form-field {
  display: block;
  margin-right: 0;
  padding: 4px 6px;
  width: 396px;
  width: 364px;
  min-height: 24px;
  line-height: 14px;
}

// mat-form-field mat-mdc-form-field-subscript-wrapper {
//   margin-bottom: -1.25em;
// }

// mat-form-field .form-full-width {
//   padding: 4px 6px;
//   min-height: 24px;
//   line-height: 14px;
// }

// [matInput] {
.search-input {
  width: 300px;
  background-color: red;
}

.mat-mdc-form-field-infix {
  width: 400px;
}

button.search-btn {
  min-width: 80px;
  min-height: 24px;
  // max-width: 24px;
  max-height: 24px;
  // margin: 0;
  // padding: 0;
  // text-align: center;
  // vertical-align: middle;
}

button.filters-btn {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

button .tune-icon {
  font-size: 18px;
  top: 2px;
  margin-left: 0;
  margin-right: 0;
  width: 24px;
  height: 24px;
}

// button .mat-mdc-unelevated-button {
//   height: 24px;
// }

.login-wrapper {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  color: #4f4f4f;
}

.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  padding-bottom: 1px;
  width: 24px;
  height: 24px;
  background-color: #3f51b5;
  // background-color: #2f80ed;
  border-radius: 5px;
}

.login-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
}

.user-icon {
  font-size: 18px;
  line-height: 24px;
  // color: white;
}
