<div class="container">
  <div class="header-content">
    <div class="logo-bg">
      <mat-icon class="play-icon" color="primary">play</mat-icon>
    </div>
    <form class="search-form" (submit)="submitSearchRequest()">
      <mat-form-field class="form-full-width">
        <input class="search-input" [(ngModel)]="searchValue" matInput #searchInput placeholder="What do you want to find out?"
          name="searchRequest">
      </mat-form-field>
      <button mat-flat-button type="submit" color="primary" (click)="addNewItem(searchInput.value)">search</button>
    </form>
    <button class="filters-btn" mat-flat-button type="submit" color="primary">
      <mat-icon color="white">tune</mat-icon>
    </button>
  </div>
  <div class="login-wrapper">
    <span>Your Name</span>
    <div class="login-bg" color="primary">
      <div class="login-icon-wrapper">
        <mat-icon class="user-icon" color="primary">person</mat-icon>
      </div>
    </div>
  </div>
</div>


<!-- <li *ngFor="let value of values"></li> -->

