<!-- <p>main-page works!</p> -->
<!-- <app-filtering-criteria *ngIf="filtersOpened" (newClickEvent)="applySorting($event)" (newSearchEvent)="applySearch($event)"></app-filtering-criteria> -->
<!-- <app-search-results *ngIf="searchValue" [sortingData]="sortingData" [searchFilterValue]="searchFilterValue"></app-search-results> -->

<app-filtering-criteria (newClickEvent)="applySorting($event)" (newSearchEvent)="applySearch($event)"></app-filtering-criteria>
<app-search-results [sortingData]="sortingData" [searchFilterValue]="searchFilterValue"></app-search-results>
