<form [formGroup]="loginForm" class="login-form" (submit)="submitLoginForm()">
  <h2 class="login-form-title">Login</h2>
  <mat-form-field class="form-full-width">
    <mat-label>login</mat-label>
    <input formControlName="login" type="email" class="login-input" [email]="true" matInput placeholder="Done Joe">
    <mat-error *ngIf="loginForm.controls['login'].hasError('email') && !loginForm.controls['login'].hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="loginForm.controls['login'].hasError('required')">
      Please enter a login email
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>password</mat-label>
    <input formControlName="password" type="password" matInput placeholder="12345678">
    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
      Please enter a password
    </mat-error>
  </mat-form-field>

  <button class="login-form-btn" mat-flat-button type="submit" color="primary">Login</button>
</form>
