<ul class="card-details">
  <li class="card-item">
    <mat-icon class="card-icon">visibility</mat-icon>
    <span>{{ statistics.viewCount}}</span>
  </li>
  <li class="card-item">
    <mat-icon class="card-icon">favorite</mat-icon>
    <span>{{ statistics.likeCount}}</span>
  </li>
  <li class="card-item">
    <mat-icon class="card-icon">mood_bad</mat-icon>
    <span>{{ statistics.dislikeCount}}</span>
  </li>
  <li class="card-item">
    <mat-icon class="card-icon">comment</mat-icon>
    <span>{{ statistics.commentCount}}</span>
  </li>
</ul>
