<div class="details-card-wrapper">
  <button class="back-btn" mat-flat-button color="primary" (click)="returnToMainPage()">
    <mat-icon class="back-icon" color="white">arrow_back_ios</mat-icon>
  </button>
  <mat-card appColorfulBorder [date]="searchItem.snippet.publishedAt" class="card details-card">
    <img class="card-image" mat-card-image src="{{ searchItem.snippet.thumbnails.standard.url }}"
      alt="{{ searchItem.snippet.title }}">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">{{ searchItem.snippet.title }} </mat-card-title>
      <mat-card-subtitle class="card-subtitle">{{ searchItem.snippet.publishedAt | date:'fullDate' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="desc-wrapper">
        <h3 class="desc-title">Description:</h3>
        <p class="description-content">{{ searchItem.snippet.description }}</p>
      </div>
      <ul class="card-details">
        <li class="card-item">
          <mat-icon class="card-icon">visibility</mat-icon>
          <span>{{ searchItem.statistics.viewCount}}</span>
        </li>
        <li class="card-item">
          <mat-icon class="card-icon">favorite</mat-icon>
          <span>{{ searchItem.statistics.likeCount}}</span>
        </li>
        <li class="card-item">
          <mat-icon class="card-icon">mood_bad</mat-icon>
          <span>{{ searchItem.statistics.dislikeCount}}</span>
        </li>
        <li class="card-item">
          <mat-icon class="card-icon">comment</mat-icon>
          <span>{{ searchItem.statistics.commentCount}}</span>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  </div>

